<app-base-layout [enableMobileHeader]="true" title="Profile Information">
  <div class="container">
    <div class="profile-wrapper">
      <div class="persional-details">
        <div class="header d-none">
          <span class="pb-3">Personal details</span>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-lg-3 pb-3 pb-lg-4">
                <span class="heading m-0">Full name (as in PAN)</span>
                <span class="text">{{userData.name}}</span>
              </div>
              <div class="col-6 col-lg-3 pb-3 pb-lg-4 d-none">
                <span class="heading">Date of birth</span>
                <span class="text"></span>
              </div>
              <div class="col-6 col-lg-3 pb-3 pb-lg-4 d-none">
                <span class="heading">Gender</span>
                <span class="text">NA</span>
              </div>
              <div class="col-6 col-lg-3 pb-3 pb-lg-4 d-none">
                <span class="heading">Martial status</span>
                <span class="text">-</span>
              </div>
              <!--  -->
              <div class="col-6 col-lg-3 pb-3 pb-lg-4 d-none">
                <span class="heading">PAN</span>
                <span class="text">-</span>
              </div>
              <div class="col-12 col-lg-3 pb-3 pb-lg-4">
                <span class="heading m-0">Mobile</span>
                <span class="text">{{userData.mobile_no}}</span>
              </div>
              <div class="col-6 col-lg-3 pb-3 pb-lg-4 d-none">
                <span class="heading">Resident status</span>
                <span class="text">Resident Indian</span>
              </div>
              <div class="col-12 col-lg-3 pb-3 pb-lg-4">
                <span class="heading m-0">Email</span>
                <span class="text">{{userData.email_id}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--  -->
      <br />
      <br />
      <div class="other-details d-none">
        <div class="header">
          <span class="pb-3">Other Details</span>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-6 col-lg-3 pb-3 pb-lg-4">
                <span class="heading">Birth country</span>
                <span class="text">NA</span>
              </div>
              <div class="col-6 col-lg-3 pb-3 pb-lg-4">
                <span class="heading">Date of birth</span>
                <span class="text">-</span>
              </div>
              <div class="col-6 col-lg-3 pb-3 pb-lg-4">
                <span class="heading">Gender</span>
                <span class="text">NA</span>
              </div>
              <div class="col-6 col-lg-3 pb-3 pb-lg-4">
                <span class="heading">Occupation</span>
                <span class="text">-</span>
              </div>
              <!--  -->
              <div class="col-6 col-lg-3 pb-3 pb-lg-4">
                <span class="heading">Income slab</span>
                <span class="text">-</span>
              </div>
              <div class="col-6 col-lg-3 pb-3 pb-lg-4">
                <span class="heading">Tax residency</span>
                <span class="text">-</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="row d-none">
        <div class="col-12 col-lg-6 pb-3 pb-lg-0 address">
          <div class="header">
            <span class="pb-3">Address</span>
          </div>
          <div class="card">
            <div class="card-body">
              Address line 1, Address line 2 City ,State, Pincode.
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 pb-3 pb-lg-0 document">
          <div class="header">
            <span class="pb-3">Document</span>
          </div>
          <div class="card ">
            <div class="card-body"><span><img src="assets/icons/ic_check_circle_24px.svg"></span>PAN card uploaded</div>
          </div>
          <div class="card">
            <div class="card-body"><span><img src="assets/icons/ic_check_circle_24px.svg"></span>PAN card uploaded</div>
          </div>
        </div>
      </div>
      <!-- make changes -->
           <div class="row text-center connect-us">
        <div class="col-12">
          To make any changes, connect us at <br>
          <a >support@dollarbull.com</a>
        </div>
      </div>
    </div>
  </div>
</app-base-layout>
