<app-base-layout [enableMobileHeader]="true" title="Account Terminology to funds" [enableDeskTopHeader] ="true" [enableDeskTopHeaderAction]="true">
    <div class="container wallet">
        <div class="row">
            <div class="col-12">
                <div class="card wallet-card-wrapper">
                    <div>
                        <span class="balance">$0</span>
                        <img src="assets/icons/add.png" alt="add_balance" class="lg-hide" />
                        <div class="sm-hide icon-button primary-bg">
                            <span class="plus">+</span>
                            <span>Add Money</span>
                        </div>
                        <div class="sm-hide icon-button white-bg">
                            <span>Submit withdraw request</span>
                        </div>
                    </div>
                    <div>
                        <span class="balance-desc">Available balance</span>
                    </div>
                </div>
            </div>

            <div class="col-12 lg-hide">
                <div class="card card-wrapper text-center">
                    <span class="withdraw">
                        Submit withdraw request
                    </span>
                </div>
            </div>

            <div class="col-12">
                <div class="card-wrapper-title">
                    <span>Connected bank accounts</span>
                </div>
                <div class="card wallet-card-wrapper">
                    <div>
                        <span class="balance-desc">No bank account connected</span>
                        <img src="assets/icons/add.png" alt="add_balance" class="lg-hide"/>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card-wrapper-title">
                    <span class="card-wrapper-title">Transaction History</span>
                </div>
                <div class="card wallet-card-wrapper">
                    <div>
                        <span class="balance-desc">Looks like you have not made any transactions yet. You can add amount
                            to your wallet by taping on add button.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-base-layout>