 <div class="card-stats">
   <img src={{img}} />
   <div class="separator" style="height: 100%; width: 8px;"></div>
   <span [ngStyle]="{'color' : is_positive == 'true' ? '#2ac07d' :  'red'}">{{stats}}</span>
 </div>
