<div style="display: block;" *ngIf="dataLoaded">
  <canvas  baseChart  [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
    [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend" [colors]="pieChartColors">
  </canvas>
</div>