.by-category-layout {
  & .header-wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;

    & .search-wrapper {
      padding-right: 0;
    }

    & .sort-filter-wrapper {
      & button {
        border: 0;
        background-color: #dadee5;
        border-radius: 0.5rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        & > img {
          max-width: 1rem;
          margin-right: 0.5rem;
        }

        & > span {
          @include muli-semibold(10px);
          color: #616161;
        }
      }
    }
  }

  & .tabs-wrapper {
    border-bottom: 1px solid #c9c9c9;
    & app-nav-tabs {
      &::before {
        display: none;
      }
      & .nav {
        flex-wrap: nowrap;
        & .nav-link {
          flex: 0 0 auto !important;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    & .header-wrapper {
      display: none;
    }
  }
  @include media-breakpoint-down(xs) {
    .modal.show .modal-dialog {
      transform: none;
      position: absolute !important;
      bottom: 0 !important;
      margin: 0 !important;
      left: 0 !important;
      right: 0 !important;
    }
    .filter-modal {
      & .modal-header {
        & span {
          @include muli-semibold(16px);
        }
      }

      & .modal-body {
        padding: 0px;

        & .short {
          padding: 0;
          background: #f6f7fc 0% 0% no-repeat padding-box;

          & .btn {
            padding: 24px 16px;
            width: 100%;
            text-align: left;
            @include muli-semibold(14px);
          }
        }

        & .filter {
        }
      }

      & .modal-footer {
        justify-content: center;

        & .row {
          width: 100%;

          & .btn {
            width: 100%;
          }
        }
      }
    }
  }
}
