<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 d-none d-lg-block">
          <div class="div_1"></div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 div_2">
          <div class="logo">
            <img src="assets/images/logo.png" />
          </div>
          <div class="personal-detail" *ngIf="personalDetailSection">
            <div class="heading d-none d-md-block">Register</div>
            <div class="heading d-block d-md-none">Enter your details to sign up</div>
            <form [formGroup]="personalDetailForm">
              <div class="row">
                <div class="col-12">
                  <input
                    type="text"
                    placeholder="Full name"
                    formControlName="fullName"
                    class="input"
                    required
                  />
                  <span
                    *ngIf="
                      personalDetailForm.touched &&
                      personalDetailForm.get('fullName').errors?.required
                    "
                    class="text-danger"
                  >
                    Please enter your full name
                  </span>
                </div>
                <div class="col-12 position-relative">
                  <input
                    type="email"
                    placeholder="Email Address"
                    formControlName="email"
                    class="input"
                    required
                  />
                  <span
                    *ngIf="
                      personalDetailForm.touched &&
                      personalDetailForm.get('email').errors
                    "
                    class="text-danger"
                  >
                    Please enter a valid email id
                  </span>
                  <span *ngIf="sign_up_msg != ''" class="text-danger">
                    {{ sign_up_msg }}
                  </span>
                </div>
                <div class="col-12">
                  <div class="tctext">
                    By continuing, you agree to the
                    <a>terms & conditions</a> and <a>privacy policy</a> of
                    Dollarbull.
                  </div>
                </div>
                <div class="col-12">
                  <div class="mobile-btn-common card">
                    <button class="btn" (click)="enterYourDetail()">
                      Continue
                    </button>
                  </div>
                </div>
                <div class="col-12 mt-3">
                  <div class="login-link">
                    Already registered? <a routerLink="/login">Login</a>
                  </div>
                </div>
                <div class="col-12">
                  <div class="seperator"><span>OR</span></div>
                </div>
                <div class="col-6 pr-1">
                  <button class="btn btn-google" (click)="signInWithGoogle()">
                    <img
                      src="assets/icons/google.png"
                      alt=""
                      style="max-width: 18px; margin-right: 10px"
                    />
                    Google
                  </button>
                </div>
                <div class="col-6 pl-1">
                  <button class="btn btn-facebook" (click)="signInWithFB()">
                    <img
                      src="assets/icons/facebook.svg"
                      alt=""
                      style="max-width: 24px; margin-right: 10px"
                    />
                    Facebook
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="emailEnterOTP" *ngIf="enterEmailOTPSection">
            <form [formGroup]="emailOTPForm">
              <div class="heading">Enter 6 digit code</div>
              <div class="text">
                Enter 6 digit code that we have sent you to your mail id
              </div>
              <div id="divOuter">
                <div id="divInner">
                  <input
                    type="text"
                    id="partitioned"
                    formControlName="emailOTPNumber"
                    class="input"
                    maxlength="6"
                    required
                    (input)="onEmailOTPSubmit($event)"
                  />
                  <span *ngIf="email_otp_msg != ''" class="text-danger">
                    {{ email_otp_msg }}
                  </span>
                </div>
              </div>
              <div class="sub-heading">Waiting for OTP …</div>
              <div class="msg-text">Didn’t receive the code ?</div>
              <div class="resend-button">
                <div class="btn btn-resend" (click)="resendEmailOTP()">
                  Resend in 2:00
                </div>
              </div>
            </form>
          </div>

          <div class="phonenumber" *ngIf="phoneNumberSection">
            <div class="fill-later">
              <div class="p-2" (click)="skipMobileNumber()">Fill later</div>
            </div>
            <div class="heading">Enter your mobile number</div>
            <form [formGroup]="phoneNumberForm">
              <div class="row">
                <div class="col-12 position-relative">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"
                        >+91</span
                      >
                    </div>
                    <input
                      type="number"
                      class="form-control input"
                      formControlName="phoneNumber"
                      required
                      aria-describedby="basic-addon1"
                    />
                    <span
                      *ngIf="
                        phoneNumberForm.touched &&
                        phoneNumberForm.get('phoneNumber').errors
                      "
                      class="text-danger"
                    >
                      Please enter a valid mobile number
                    </span>
                  </div>
                </div>
                <div class="col-12 mt-4">
                  <div class="mobile-btn-common card">
                    <button class="btn" (click)="updateMobileNo()">
                      Continue
                    </button>
                  </div>
                </div>
                <!-- <div class="col-12">
          <div class="seperator"><span>OR</span></div>
        </div>
        <div class="col-6 pr-1">
          <button class="btn btn-google">
            <img
              src="assets/icons/google.png"
              alt=""
              style="max-width: 18px; margin-right: 10px"
            />
            Google
          </button>
        </div>
        <div class="col-6 pl-1">
          <button class="btn btn-facebook">
            <img
              src="assets/icons/facebook.svg"
              alt=""
              style="max-width: 24px; margin-right: 10px"
            />
            Facebook
          </button>
        </div>
        <div class="col-12">
          <div class="text">
            By continuing, you agree to the <a>terms & conditions</a> and
            <a>privacy policy</a> of Dollarbull.
          </div>
        </div> -->
              </div>
            </form>
          </div>

          <div class="mobileEnterOTP" *ngIf="mobileOTPSection">
            <form [formGroup]="mobileOTPForm">
              <div class="heading">Enter OTP</div>
              <div class="text">
                We’ve sent you an SMS with a 6-digit verification code on +91
                {{ enteredMobileNo }}
              </div>
              <div id="divOuter">
                <div id="divInner">
                  <input
                    type="text"
                    id="partitioned"
                    formControlName="mobileOTPNumber"
                    class="input"
                    maxlength="6"
                    required
                    (input)="verifyMobileOTP($event)"
                  />
                  <span *ngIf="mobile_otp_msg != ''" class="text-danger">
                    {{ mobile_otp_msg }}
                  </span>
                </div>
              </div>
              <div class="sub-heading">Waiting for OTP …</div>
              <div class="msg-text">Didn’t receive the code ?</div>
              <div class="resend-button">
                <div class="btn btn-resend" (click)="resendMobileOTP()">
                  Resend in 2:00
                </div>
              </div>
            </form>
          </div>

          <div class="rm-code" *ngIf="enterRmCode">
            <div class="heading">
              Enter code <img src="assets/icons/questionmark.svg" />
            </div>
            <div class="text">
              If you don’t haven RM code it’s ok you can skip this step and
              continue.
            </div>
            <form [formGroup]="rmCodeForm">
              <div class="row">
                <div class="col-12">
                  <input
                    type="text"
                    placeholder=""
                    formControlName="rmcode"
                    class="input"
                    required
                  />
                  <span
                    *ngIf="
                      personalDetailForm.touched &&
                      personalDetailForm.get('fullName').errors?.required
                    "
                    class="text-danger"
                  >
                    Entered RM code is invalid
                  </span>
                </div>
                <div class="col-12 mt-4">
                  <div class="mobile-btn-common card">
                    <button class="btn" (click)="submitRMCode()">
                      Continue
                    </button>
                  </div>
                </div>
                <div class="col-12 text-center mt-2">
                  <button
                    type="button"
                    class="btn btn-link"
                    (click)="skipRMCode()"
                  >
                    I don't have a RM code
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="terms-condition">
    By continuing, you agree to the <a>terms & conditions</a> and
    <a>privacy policy</a> of Dollarbull.
  </div>
</div>
