<nav class="nav">
  <a
    *ngFor="let item of tabs; let i = index"
    class="nav-item nav-link"
    [ngClass]="{ active: i === activeIndex }"
    (click)="handleClick($event, item, i)"
    ><span *ngIf="item.icon" class="mr-2"><img src={{item.icon}}></span>{{ item.label }}</a
  >
</nav>
