<app-base-layout [enableMobileMenu]="true">
    <div class="kyc-wrapper">
        <div class="kyc-title">
            Complete KYC
        </div>

        <div class="container">
            <app-become-dollarbull-card></app-become-dollarbull-card>
        </div>
    </div>
    </app-base-layout>
