     <div class="become-dollarbull">
        <div class="card">
          <div class="card-body">
            <div class="card-title d-md-none">
              Become a dollarbull
            </div>
            <div class="row align-items-center">
              <div class="col-5 d-none d-md-block">
                <div class="card-title">
                  Become a dollarbull
                  <p class="sub-text">Start investing by complete few steps</p>
                </div>
              </div>
              <div class="col-12 col-md-7">
                <ul id="progressbar">
                  <!-- Add class done|current|pending based on customer stage -->
                  <li class="step0" [ngClass]="openKYCStage" id="step1"><span class="text">KYC</span></li>  
                  <li class="step0" [ngClass]="verifyingKYCStage"  id="step2"><span class="text">Account Approved</span></li>
                  <li class="step0" [ngClass]="addFundsStage" id="step3"><span class="text">Add Funds</span></li>
              </ul>
                <button class="btn custombtn" (click)="actionBtnClick(actionStage)">{{actionBtnLabel}}</button>
                <div class="verify-msg d-none">
                  You can add funds once KYC is verified
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
      <ng-template #fundTransferModal let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Fund Transfer</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ng-container *ngFor="let cardsData of displayFundTransferCards">
            <div (click)="navigateToFundus(cardsData.navigateTo)" class="card account-card">
              <div class="card-icon">
                  <img src="{{cardsData.iconPath}}" alt="profile">
              </div>
              <div class="card-title-wrapper">
                  <span class="card-title">{{cardsData.title}}</span>
                  <span class="card-desc">{{cardsData.info}}</span>
              </div>
              <div class="card-action">
                  <img src="assets/icons/icon-chevron.png" alt="in">
              </div>
            </div>
            <!-- <app-account-card
              class="col-12 col-lg-4"
              [title]="cardsData.title"
              [info]="cardsData.info"
              [iconPath]="cardsData.iconPath"
              [navigateTo]="cardsData.navigateTo"
            >
            </app-account-card> -->
          </ng-container>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
        </div> -->
      </ng-template>

      <ng-template #ComplteKycOptionsModal let-c="close" let-d="dismiss">
        <div class="complte-Kyc-Options-Modal">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">KYC</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ng-container>
            <div (click)="redirectToKYCForm()" class="card account-card">
              <div class="card-icon">
                  <img src="assets/icons/kyc-icon-modal.svg" alt="profile">
              </div>
              <div class="card-title-wrapper">
                  <span class="card-title">Open KYC</span>
                  <span class="card-desc">Start KYC / complete pending KYC</span>
              </div>
              <div class="card-action">
                  <img src="assets/icons/icon-chevron.png" alt="in">
              </div>
            </div>
          </ng-container>
          <ng-container>
            <div (click)="redirectToLoginForm()" class="card account-card">
              <div class="card-icon">
                  <img src="assets/icons/trade-station-icon-modal.png" alt="profile">
              </div>
              <div class="card-title-wrapper">
                  <span class="card-title">Login to Tradestation</span>
                  <span class="card-desc">Login here if your KYC is verified</span>
              </div>
              <div class="card-action">
                  <img src="assets/icons/icon-chevron.png" alt="in">
              </div>
            </div>
          </ng-container>
        </div>
      </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
        </div> -->
      </ng-template>

      <ng-template #noteModal let-c="close" let-d="dismiss">
        <div class="note-modal">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">NOTE</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text">You can't add less than $2000 in your fund</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="openLRSPopup()">Got it</button>
        </div>
      </div>
      
      </ng-template>