/*
for: app-cards-list
used in: app-stocks-category-list
*/

app-cards-list {
  display: flex;
  flex-direction: column;
  & .card-list-header {
    margin-top: 36px;
    & .card-list-title {
      & > span {
        @include muli-regular(12px);
      }
    }
    & .card-list-action {
      & > a {
        @include muli-regular(12px);
        text-decoration: none;
      }
    }
  }

  & .card-list-body {
    overflow: auto;
    white-space: nowrap;
  }
}
app-cards-list:nth-child(1){
  & .card-list-header {
    margin-top: 26px;
  }
  
}
@include media-breakpoint-down(xs) { 
  app-cards-list:nth-child(1){
    & .card-list-header {
      margin-top: 6px;
    }
    
  }
  app-cards-list{
    & .card-list-header {
      margin-top: 28px;
    }
    
  }
}
