app-market-open-card{
    & .market-open {
        height: 36px;
        margin-top: 12px;
    
        .card {
          background: #FFFFFF 0% 0% no-repeat padding-box;
          border: 1px solid #D5E0F8;
          border-radius: 6px;
    
          .card-body {
            padding: 10px 21px;
    
            .title {
              @include muli-regular(12px);
            }
    
            .text {
              @include muli-bold(12px);
            }
          }
        }
    
      }
}