app-my-investment-card{

  .count {
    @include muli-light(15px);
  }

  .title {
    @include muli-bold(14px);
    letter-spacing: 0.7px;
  }
    
  & .myinvestment {
      & .heading{
        @include muli-semibold(14px);
        margin-top: 16px;
      }
    & .investment-card{
        margin-top: 10px;
        margin-bottom: 26px;
    background: transparent linear-gradient(164deg, #3B64BE 0%, #5E519A 100%) 0% 0% no-repeat padding-box;

    & .count-wrapper {
      display: flex;
      justify-content: space-around;
      text-align: center;

      & .card {
        background-color: transparent;
        border: none;
        color: white;
        min-width: 61px;
        box-shadow: none;

        & .count {
          @include muli-light(15px);
        }

        & .title {
          @include muli-bold(14px);
          letter-spacing: 0.7px;
        }
      }

    }


    & .last-update {
      text-align: center;

      & span {
        @include muli-regular(10px);
        color: #D9D9D9;
      }
    }
  }
}
}