/*
for: app-nav-tabs
used in: app-explore-layout
*/

app-nav-tabs {
  display: block;
  overflow-x: auto;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid $gray-400;
  }
  & > .nav {
    & .nav-link {
      flex: 1 1 auto;
      text-align: center;
      @include muli-regular(14px);
      color: theme-color("text-secondary");
      padding: 0.75rem 1rem;
      border-bottom-width: 3px;
      border-bottom-style: solid;
      border-bottom-color: transparent;
      transition: all 0.35s linear;
      &.active {
        @include muli-semibold(14px);
        color: theme-color("primary");
        border-bottom-color: theme-color("primary");
      }
    }
  }
  .nav > a{
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
    &:hover{
      font-weight: bold;
      color: #3A63BB;
      font-weight: bold;
    }
  }

  @include media-breakpoint-up(lg) {
    & .nav {
      & .nav-link {
        flex: 0 0 auto;
        &.active {
          @include muli-bold(14px);
        }
      }
    }
  }
}

app-nav-tabs::-webkit-scrollbar {
  display: none;
}

app-nav-tabs {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
