/*
for: app-search-field
*/

app-search-field {
  & .input-group {
    background-color: #dadee5;
    border-radius: 0.5rem;
    & .input-group-prepend {
      & .input-group-text {
        background-color: transparent;
        border: 0;
      }
      & img {
        height: 16px;
        width: 16px;
      }
    }
    & .form-control {
      background-color: transparent !important;
      border: 0;
      box-shadow: none;
      padding-left: 0;
      min-height: 40px;
      @include placeholder {
        @include muli-semibold(12px);
        color: #616161;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    & .input-group {
      background-color: white;
      border: 1px solid $gray-400;
      & .input-group-prepend {
        & .input-group-text {
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
      & .form-control {
        min-height: 56px;
        @include placeholder {
          @include muli-regular(16px);
          color: theme-color("text-secondary");
        }
      }
    }
  }
}
