/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */
body {
  @extend .body-1;
  background-color: #f6f7fc;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  min-height: 100vh;

  & app-root {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    display: flex;
    flex-direction: column;

    &>* {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
    }

    &>router-outlet {
      flex: 0 0 auto;
    }
  }

  @media screen and (min-width: 992px) {
    background-color: white;
  }
}

.mobile-btn-common {
  &.card {
    border-radius: 10px;

    & .btn {
      background-color: #3B64BE;
      color: white;
      border: none;
      padding: 15px;
      box-shadow: 0px 2px 8px #7090D080;
      border: 1px solid #00000000;
      @include muli-semibold(14px);
      border-radius: 4px;
    }
  }

}

.separator {
  display: flex;
  flex-shrink: 0;
  flex-basis: auto;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  align-items: stretch;
  pointer-events: none;
}

//  typography
.heading-1 {
  @include muli-bold(20px);
}

.heading-2 {
  @include muli-semibold(16px);
}

.body-1 {
  @include muli-semibold(14px);
}

.body-2 {
  @include muli-regular(12px);
}

.caption {
  @include muli-light(10px);
}

// for laptop and desktop screens
// TODO: require update for large screen
@media screen and (min-width: 992px) {
  .heading-1 {
    @include muli-bold(20px);
  }

  .heading-2 {
    @include muli-semibold(16px);
  }

  .body-1 {
    @include muli-semibold(14px);
  }

  .body-2 {
    @include muli-regular(12px);
  }

  .caption {
    @include muli-light(10px);
  }
}

.card {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 2px #72727269;
  border-radius: 10px;
}

.badge-wrapper {
  margin-bottom: 18px;
  height: 27px;
  display: flex;
  align-items: center;

  & .badge {
    padding: 3px 6px;
    @include muli-bold(12px);
    color: #3B64BE;
    margin-right: 7px;
    background-color: #e4edff;
    border-radius: 3px;

  }
}

.input {
  width: 100%;
  min-height: 1.81rem;
  border: none;
  border-bottom: 1px solid #9E9E9E;
  padding: 5px;
  margin-bottom: 1.7rem;
  background: none;

  &:focus {
    outline: none;
  }

  &+.error-msg {
    color: red;
    transform: translateY(-20px);
    min-height: 22px;

    i {
      font-style: normal;
    }
  }
}

.bottom-fixed-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0px 7px 10px #7090B014;
  padding: 16px;
}

.btn-buy {
  color: #FFFFFF;
  text-transform: uppercase;
  @include muli-semibold(16px);
  background: #2AC07D 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 8px #7090D080;
  border: 1px solid #00000000;
  border-radius: 4px;
  padding: 14px;
  width: 100%;
}

.btn-sell {
  color: #FFFFFF;
  text-transform: uppercase;
  @include muli-semibold(16px);
  background: #EB2F2F 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 8px #7090D080;
  border: 1px solid #00000000;
  border-radius: 4px;
  padding: 14px;
  width: 100%;
}

.search-block {
  z-index: 1;
  position: absolute;
  width: calc(100% - 29px);

  @include media-breakpoint-down(xs) {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 3px;
  }

  & .card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 11px 12px #0000001C;

    & .card-body {
      overflow-y: auto;
      max-height: 300px;
      @include media-breakpoint-down(xs) {
        & .row{
          padding-bottom: 0.5rem !important;
          margin-bottom:  0.5rem !important;
          border-bottom: 1px solid rgb(231, 231, 231);
          align-items: center;
        }

        & .row:first-child{
          margin-top: 1rem !important;
        }
        & .row:last-child{
          border-bottom: none;
        }
      }

      a {
        text-decoration: none;

        & .text {
          @include muli-bold(12px);
        }

        & .sub-text {
          @include muli-regular(12px);
          color: #BBBBBB;
          margin-left: 4px;

          @include media-breakpoint-down(xs) {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }
      }
    }
  }
}

// section layout
.section-layout {
  background-color: white;

  & .section-header {
    align-items: center;
    padding: 8px 15px;

    & .section-title-wrapper {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }

  & .section-body {
    flex-direction: column;
    padding: 8px 15px;
  }
}

.load-more {
  display: flex;
  justify-content: center;
}

.show-less {
  display: -webkit-box;
  height: 3rem;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.625;
}

.loader {
  border: 7px solid #f3f3f3;
  border-radius: 50%;
  border-top: 7px solid #3498db;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  z-index: 999;
}



/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

back-drop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background: hsl(0deg 0% 0% / 40%);
}


.gain-color {
  color: #30c281 !important;
}

.loss-color {
  color: red !important;
}



.status.completed {
  padding: 3px 19px;
  @include muli-semibold(12px);
  color: #2AC07D;
  background: #dff6ec 0% 0% no-repeat padding-box;
  border-radius: 2px;
}

.status.pending {
  padding: 3px 19px;
  @include muli-semibold(12px);
  color: #EB802F;
  background: #fcece0 0% 0% no-repeat padding-box;
  border-radius: 2px;
}

.status.rejected {
  padding: 3px 19px;
  @include muli-semibold(12px);
  color: #eb2f2f;
  background: #fcece0 0% 0% no-repeat padding-box;
  border-radius: 2px;
}

.btn-green {
  background-color: #2AC07D !important;
}

.btn-red {
  background-color: #EB2F2F !important;
}
