<app-base-layout [enableMobileHeader]="true" title="Transaction History">
  <div class="container">
      <div class="card">
          <div class="card-body">
              <div class="row mb-3">
                  <div class="col-6">
                      <div class="value">14th Feb 2021</div>
                      <div class="text">Date</div>
                  </div>
                  <div class="col-6">
                    <div class="value">4999</div>
                    <div class="text">Amount</div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                    <div class="value">$131.95</div>
                    <div class="text">Avg Buy Price</div>
                </div>
                <div class="col-4">
                  <div class="value">20</div>
                  <div class="text">Units</div>
              </div>
              <div class="col-4">
                <div class="value">$ 5.92</div>
                <div class="text">P&L</div>
            </div>
            </div>
          </div>
      </div>
  </div>
</app-base-layout>
