app-categorywatchlist {

  .watchlist-header-wrapper {
    background-color: #3B64BE;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    height: 3.5rem;

    & .header-action {
      flex: 0 0 3rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      & img {
        max-width: 0.75rem;
        filter: brightness(100);
      }

      & span {
        color: white;
        margin-left: 10px;
      }
    }

    & .header-title {
      flex: 1 1 auto;

      & span {
        @include muli-bold(16px);
        color: white;
      }
    }
  }


  & .row {
    margin: 0;
  }

  app-nav-tabs {

    & .nav {
      flex-wrap: nowrap;

      & .nav-link {
        white-space: nowrap;
      }
    }

  }

  & .watchlist-filter-btn{
  position: fixed;
    bottom: 59px;
    right: 15px;
    box-shadow: 0px 2px 5px #0000001C;
border-radius: 2px;

    .btn{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 10px 17px;
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    @include muli-semibold(14px);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    color: #2E4372;

    & .active{
      background-color: white;
      color: #2E4372;


    }

    }
    .btn.focus {
      box-shadow:none;
  }
  }

  & .bottom-fixed-btn {
    padding: 0;

    & .watchlist-delete-stocks-btn {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;
      padding: 15px;
      @include muli-semibold(14px);

      // background-color: #3B64BE;
      // color: white;
      color: #3B64BE;

      & img {
        margin-right: 8px;
        // filter: brightness(100);
      }
    }

    & .watchlist-edit-stocks-btn {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;
      padding: 15px;
      border-right:1px solid rgba(0, 0, 0, 0.125);
      @include muli-semibold(14px);

      color: #3B64BE;
      // color: white;
      & img {
        margin-right: 8px;
        // filter: brightness(100);
      }
    }

    & .watchlist-add-stocks-btn {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;
      padding: 15px;
      background-color: #3B64BE;
      color: white;
      @include muli-semibold(14px);

      & img {
        margin-right: 3px;
        filter: brightness(100);
      }
    }


  }


}
.deleteWathlistModal {
    & .modal-body {
      padding: 16px 24px 32px 24px;

      & span {
        @include muli-regular(14px);
        letter-spacing: 0.25px;
        color: #00000099;
      }
    }
    & .modal-footer{
        border-top: 0;
    }
  }
  .watchlistAddModal{
          & .modal-header{
            padding: 32px 39px;
            border-bottom: 0;
          & .modal-title{
              @include muli-regular(20px);
          }
          }
  }
