// lg break point
@include media-breakpoint-up(lg) {
  .parallax {
    min-height: auto !important;
    position: relative !important;
    padding-bottom: 0 !important;
    background: none !important;

    & .scroll-cards-warpper {
      display: none !important;
    }

    & .dasboard-card {
      // background-color: #3B64BE;
      border-radius: 10px;

    }

    & .rate-info-slider {
      display: none;
    }

  }

  .mobile-scroll-up-on-div {
    margin-top: 0px !important;
    border-radius: 0 !important;
    background-color: #f6f7fc00 !important;

    & .mobile-btn-common {
      display: none;
    }

    // & .why-invest-wrapper{
    //     display:none;
    // }


    & .my-investment-wrapper {
      display: none;
    }

    & .watchlist-wrapper {
      display: none;
    }
  }

}

// common header
.card-headers {
  & .card-title {
    @include muli-semibold(14px);
    color: #434343;
    margin-bottom: 0;
  }

  & .card-action {
    a {
      @include muli-regular(12px);
    }
  }
}

// myinvestment
.my-investment-wrapper {
  & .card {
    box-shadow: 0px 1px 2px #72727269;
    border-radius: 10px;

    & .card-body {
      padding: 12px;

      & span {
        display: block;

        &.card-text {
          @include muli-light(12px);
        }
      }

      & .card-link {
        @include muli-semibold(12px);
      }
    }
  }
}

//paralaxcss
.parallax {
  // background: transparent linear-gradient(180deg, #3B64BE 0%, #5E519A 100%) 0% 0% no-repeat padding-box;
  // min-height: 296px;
  // position: sticky;
  // top: 0px;
  // padding-bottom: 16px;
  & .heading{
    @include muli-semibold(14px);
    color: #434343;
    margin-bottom: 10px;
  }
 





}
// chart tab css
.chart-heading{
  @include muli-semibold(14px);
  color: #434343;
  margin-bottom: 14px;
}
.chart-tab {
  app-nav-tabs{
    &::before{
      border-bottom: 0px solid #c9c9c9;
    }
  .nav {
      // width: 47%;
      .nav-link {
        padding: 11px 32px;
        text-align: center;
        background-color: #E7EDF8;
        color: #5A5A5A;
        border-radius: 10px;
        @include muli-regular(14px);
        @include media-breakpoint-up(md) { 
          padding: 11px 74px;
          }

        &.active {
          background: #FFFFFF 0% 0% no-repeat padding-box;
          color: #455FB4;
          border-bottom-color: transparent;
          @include media-breakpoint-up(md) { 
          box-shadow: 0px 1px 2px #72727269;
          }
        }
      }
  }
}
}

// css scroll mobile up
.mobile-scroll-up-on-div {
  background-color: #f6f7fc;
  // margin-top: -16px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  position: relative;
  z-index: 99;
  margin-bottom: 0px;

}

// watchlist tabs 
.watchlist-tabs {
  & app-nav-tabs::before {
    border: none;
  }

  & app-nav-tabs {

    & .nav {
      flex-wrap: nowrap;

      & .nav-link {
        @include muli-regular(12px);
        padding: 7px 9px;
        white-space: nowrap;

        &.active {
          @include muli-bold(12px);
        }
      }
    }
  }

}

.why-invest-wrapper {
  & .card-wrapper {
    display: flex;
    flex-wrap: wrap;

    & .card {
      box-shadow: 0px 1px 2px #72727269;
      border-radius: 10px;
      width: 100%;
      margin-bottom: 15px;

      & .card-body {
        padding: 1rem;

        & .card-img {
          max-width: 48px;
          max-height: 48px;
        }

        & .title {
          @include muli-bold(13px);
        }

        & .sub-title {
          @include muli-regular(9px);
          color: $gray-600;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
}

// news 
.news-warpper {
  & .card-headers {
    & .card-title {
      @include muli-semibold(14px);
    }

    & .card-action {
      color: #3A63BB;
      @include muli-regular(12px);
    }
  }

  & .card-group {
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    flex-wrap: nowrap;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-image: linear-gradient(45deg, #d21625, #6179c1);
      border-radius: 20px;
    }

    &::-webkit-scrollbar-track {
      background: #ddd;
      border-radius: 20px;
    }

    & .card {
      min-width: 293px;
      border-radius: 10px;
      margin-bottom: 0;
      overflow: hidden;
      margin: 10px 0px 33px 0px;

      & .card-img-wrap {
        height: 155px;
        background-color: #cacddd;
        overflow: hidden;
        border-bottom: 1px solid #e5e5e5;

        & img {
          width: 100%;
          transform: translateY(-50%);
          top: 50%;
          position: relative;
          height: auto;
        }
      }

      & .card-body {
        white-space: break-spaces;

        & span {
          display: block;

          &.card-title {
            @include muli-bold(14px);
            margin-bottom: 0px;
          }

          &.card-text {
            @include muli-light(12px);
          }

          &.card-date {
            @include muli-semibold(10px);
          }
        }
      }
    }
  }

  & .card-group::-webkit-scrollbar {
    display: none;
  }

}

// mywatch list
.my-watch-list-wrapper {
  & .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 2px #72727269;
    margin-bottom: 2px;

    &>span {
      @include muli-bold(14px);
      color: #3B64BE;
    }
  }

  & .list-group {
    & .list-group-item {
      & app-info-card {
        border-radius: 0px;
        box-shadow: none;
        border: 0;
      }

    }
  }

  & .watch-list-empty-wrapper {
    box-shadow: 0px 1px 2px #72727269;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    & .watch-list-empty {
      padding: 0px 64px;

      & .title {
        @include muli-bold(14px);
      }

      & .text {
        @include muli-regular(12px);
      }
    }

    & .btn {
      @include muli-semibold(14px);
      padding: 11px 70px;
    }
  }
}

// component watchlist
app-dashboard {
  app-categorywatchlist {
    app-base-layout {
      & .content-wrapper {
        overflow: visible;
      }

      & .desktop-header-wrapper {
        display: none;
      }
    }

    & .watchlist-header-wrapper {
      padding: 16px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 1px 2px #72727269;
      margin-bottom: 2px;
      margin: 0px 1px;

      & .header-title {
        & span {
          @include muli-bold(14px);
          color: #3B64BE;
        }
      }

      & .header-action:first-child {
        display: none;
      }

      & .header-action {
        justify-content: flex-end;

        img {
          max-width: 24px;
          filter: brightness(0.5);
        }

        & span {
          display: none;
        }
      }


    }

    & .separator {
      height: 0px !important;
    }

    & .bottom-fixed-btn {
      position: sticky;
    }

    & .watch-list-empty-wrapper {
      box-shadow: 0px 1px 2px #72727269;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;

      & .watch-list-empty {
        padding: 0px 64px;

        & .title {
          @include muli-bold(14px);
        }

        & .text {
          @include muli-regular(12px);
        }
      }

      & .btn {
        @include muli-semibold(14px);
        padding: 11px 70px;
      }
    }
  }
}

// performance-chart 
.performance-chart-wrapper {
  & .card-headers {
    & .card-title {
      @include muli-semibold(14px);
      text-transform: capitalize;
    }

    & .card-action {
      color: #3A63BB;
      @include muli-regular(12px);
    }
  }
}

// investment chart 
.investment-chart-wrapper {
  & .card-headers {
    & .card-title {
      @include muli-semibold(14px);
      text-transform: capitalize;
    }

    & .card-action {
      color: #3A63BB;
      @include muli-regular(12px);
    }
  }
}

.charts {
  margin-top: 1rem;

  & .space {
    padding: 1rem
  }
}


@include media-breakpoint-down(xs) {
  .watchlist-wrapper {

      & .card-list-body {
        display: flex;
        overflow: auto;
        white-space: nowrap;

        app-info-card {
          min-width: 160px;
          min-height: 152px;
          max-width: 160px;
          white-space: break-spaces;
          margin-right: 10px;

          & .card-body {
            padding: 18px 6px 22px 15px;

            & .card-title {
              display: flex;
              align-items: center;
              min-height: 42px;
              margin-bottom: 0;

              &>img {
                width: 18px;
                height: 18px;
              }

              &>span {
                @include muli-semibold(14px);
                width: 90px;
                text-overflow: -o-ellipsis-lastline;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
              }
            }

            & .stock-type-display {
              display: none;
            }

            & .stock-type-value {
              margin-top: 31px;
              margin-bottom: 13px;
            }
          }
        }
      }
    
  }
}
