<div class="card-body" (click)="handleClick()">
  <div class="row m-0">
    <div class="col p-0">
      <div class="card-title">
        <!-- <div class="card-image"> -->
          <img src={{img}} />
        <!-- </div> -->
        <div class="separator" style="height: 100%; width: 14px;"></div>
        <span>{{symbol}} - {{name}}</span>
      </div>
    </div>
    <div class="col-auto p-0 stock-type-value">
      <app-card-price price="{{price}}" currency="$"></app-card-price> 
    </div>
  </div>

  <div class="row m-0">
    <!-- company name -->
    <div class="col p-0">
      <div class="company-name">
        <span>{{symbol}}</span>
      </div>
    </div>

    <!-- stats info -->
    <div class="col-auto p-0">
      <app-card-stats [stats]="stats" [is_positive]="isPositive"></app-card-stats>
    </div>
  </div>
</div>
