<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 d-none d-lg-block">
          <div class="div_1"></div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 div_2">
          <div class="logo">
            <img src="assets/images/logo.png" />
          </div>
          <div class="enter-Email" *ngIf="enterEmail">
            <div class="heading d-none d-md-block">Login</div>
            <div class="heading d-block d-md-none">
              Enter your email address
            </div>

            <form [formGroup]="emailForm">
              <div class="row">
                <div class="col-12 col-lg-12">
                  <input
                    type="email"
                    placeholder=""
                    formControlName="email_id"
                    class="input"
                    required
                  />
                  <span
                    *ngIf="
                      emailForm.touched &&
                      emailForm.get('email_id').errors?.required
                    "
                    class="text-danger"
                  >
                    Please enter a valid email id
                  </span>
                  <span *ngIf="app_login_msg != ''" class="text-danger">
                    {{ app_login_msg }}
                  </span>
                </div>
                <div class="col-12 d-block d-md-none">
                  <div class="text">
                    By continuing, you agree to the
                    <a>terms & conditions</a> and <a>privacy policy</a> of
                    Dollarbull.
                  </div>
                </div>
                <div class="col-12 mt-4">
                  <div class="mobile-btn-common card">
                    <button class="btn" (click)="app_login()">Continue</button>
                  </div>
                </div>
                <div class="col-12 mt-4">
                  <div class="register-link">
                    Don't have an account? <a routerLink="/signup">Register</a>
                  </div>
                </div>
                <div class="col-12">
                  <div class="seperator"><span>OR</span></div>
                </div>
                <div class="col-6 pr-1">
                  <button class="btn btn-google" (click)="signInWithGoogle()">
                    <img
                      src="assets/icons/google.png"
                      alt=""
                      style="max-width: 18px; margin-right: 10px"
                    />
                    Google
                  </button>
                </div>
                <div class="col-6 pl-1">
                  <button class="btn btn-facebook" (click)="signInWithFB()">
                    <img
                      src="assets/icons/facebook.svg"
                      alt=""
                      style="max-width: 24px; margin-right: 10px"
                    />
                    Facebook
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="enterotp" *ngIf="enterOTPSection">
            <form [formGroup]="otpForm">
              <div class="heading">Enter 6 digit code</div>
              <div class="text">
                Enter 6 digit code that we have sent you to your mail id
              </div>
              <div id="divOuter">
                <div id="divInner">
                  <input
                    type="text"
                    id="partitioned"
                    formControlName="otpNumber"
                    class="input"
                    maxlength="6"
                    required
                    (input)="onEmailOTPSubmit($event)"
                  />
                  <span *ngIf="otp_screen_msg != ''" class="text-danger">
                    {{ otp_screen_msg }}
                  </span>
                </div>
              </div>
              <div class="sub-heading">Waiting for OTP …</div>
              <div class="msg-text">Didn’t receive the code ?</div>
              <div class="resend-button">
                <div class="btn btn-resend" (click)="resendOTP()">
                  Resend in 2:00
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="terms-condition">
    By continuing, you agree to the <a>terms & conditions</a> and
    <a>privacy policy</a> of Dollarbull.
  </div>
</div>
