<app-base-layout [enableMobileMenu]="true" [mobileHeaderDashBoard]="true">
  <div class="container-lg">
    <div class="row">
      <div class="col-12 col-lg-8 px-0 px-lg-3">
        <div class="parallax">
          <div class="container">
            <div class="dasboard-card">
              <!-- market open -->
              <app-market-open-card class="d-block d-md-none"></app-market-open-card>
              <div class="separator d-block d-md-none" style="width: 100%; height: 16px"></div>
              <!-- my investment card -->
              <div *ngIf="hasInvested">
                <app-my-investment-card
                  customer_invested_value="{{ this.customer_invested_value }}"
                  customer_current_value="{{ this.customer_current_value }}"
                  profit_loss_value="{{ this.profit_loss_value }}"
                  profit_loss_per="{{ this.profit_loss_per }}"
                ></app-my-investment-card>
              </div>
              <!-- becomedolla bull -->
              <div *ngIf="!hasInvested">
                <app-become-dollarbull-card></app-become-dollarbull-card>
              </div>
              <!-- portfolio tabs -->
              <div *ngIf="hasInvested">
                <div class="d-none d-md-block chart-heading">Performance Chart</div>
                <div class="chart-tab">
                  <app-nav-tabs
                    [tabs]="portfolioTabs"
                    (onClick)="handleOnClick($event)"
                  ></app-nav-tabs>
                  <div class="tab-content" id="pills-tabContent">
                    <div *ngIf="activePortfolioTab === '0'">
                      <div class="charts">
                        <app-line-chart
                          [label]="label"
                          [dataSets]="dataSets"
                          [months]="monthsInPerformanceCharts"
                          (handleMonthPerformance)="(handleMonthPerformance)"
                        >
                        </app-line-chart>
                      </div>
                    </div>
                    <div *ngIf="activePortfolioTab === '1'">
                      <div class="charts">
                        <app-pie-chart
                          class="card space"
                          [labelProps]="pieChartLabels"
                          [valueProps]="pieChartValues"
                        ></app-pie-chart>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <button class="btn viewProfileBtn" routerLink="/portfolio">
                    View Portfolio
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container mobile-scroll-up-on-div">
          <div *ngIf="true">
            <app-navigation-scroll></app-navigation-scroll>
          </div>
          <!-- watchlist -->
          <div class="watchlist-wrapper">
            <div class="separator" style="width: 100%; height: 10px"></div>
            <div class="card-headers">
              <span>Watchlist</span>
              <div class="separator" style="width: 100%; height: 9px"></div>
            </div>
            <ng-container *ngIf="watchListTabs.length">
              <div class="watchlist-tabs">
                <app-nav-tabs
                  [tabs]="watchListTabs"
                  (onClick)="handleWatchlistClick($event)"
                ></app-nav-tabs>
              </div>
              <div class="separator" style="width: 100%; height: 10px"></div>
              <div
                class="watch-list-empty-wrapper card mb-2"
                *ngIf="watchlistCompany.length == 0"
              >
                <div class="watch-list-empty card-body">
                  <div class="title">Your Watchlist is empty</div>
                  <div class="separator" style="width: 100%; height: 8px"></div>
                  <div class="text body-2">
                    Add stocks to watchlist and start tracking their prices
                  </div>
                  <div
                    class="separator"
                    style="width: 100%; height: 16px"
                  ></div>
                </div>
              </div>
              <div class="card-list-body scroll_card">
                <app-info-card
                  *ngFor="let company of watchlistCompany"
                  [img]="company.img"
                  [stats]="company.stats"
                  [company]="company.company"
                  [name]="company.name"
                  [symbol]="company.symbol"
                  [price]="company.price"
                  [companyId]="company.companyId"
                  [previous_price] = "500"
                  class="mb-2"
                ></app-info-card>
              </div>
            </ng-container>

            <ng-container *ngIf="!watchListTabs.length">
              <div class="card">
                <div class="card-body p-3">
                  <p class="body-2 mb-0">
                    Look like you have not created watchlist yet. Tap on Go to
                    watchlist to get started with your watchlist.
                  </p>
                </div>
              </div>
              <div class="separator" style="width: 100%; height: 10px"></div>
            </ng-container>

            <div class="mobile-btn-common card">
              <button class="btn" (click)="navigateToWatchlist()">
                Go to watchlist
              </button>
            </div>
          </div>
          <!-- top sectors -->
          <app-top-sectors></app-top-sectors>

          <!-- top gainer -->
          <app-top-gainers></app-top-gainers>

          <!-- etfprovider -->
          <app-top-etf-providers></app-top-etf-providers>
          <!-- why invest -->
          <div class="why-invest-wrapper d-none">
            <div class="card-headers">
              <div class="separator" style="width: 100%; height: 26px"></div>
              <span>Why invest with Dollarbull?</span>
              <div class="separator" style="width: 100%; height: 13px"></div>
            </div>
            <div class="row card-wrapper">
              <div class="col-6 col-lg-3 pr-2 pr-lg-3">
                <div class="card">
                  <div class="card-body">
                    <img
                      class="card-img"
                      src="assets/images/dollerbag.svg"
                      alt="dollerbag"
                    />
                    <div
                      class="separator"
                      style="width: 100%; height: 7px"
                    ></div>
                    <div class="title">
                      {{
                        dollarbullStats.TOTAL_AMOUNT_INVESTED
                          ? dollarbullStats.TOTAL_AMOUNT_INVESTED
                          : "-"
                      }}
                    </div>
                    <div
                      class="separator"
                      style="width: 100%; height: 4px"
                    ></div>
                    <div class="sub-title">Total Amount Invested</div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-lg-3 pl-2 pl-lg-3">
                <div class="card">
                  <div class="card-body">
                    <img
                      class="card-img"
                      src="assets/images/user.svg"
                      alt="dollerbag"
                    />
                    <div
                      class="separator"
                      style="width: 100%; height: 7px"
                    ></div>
                    <div class="title">
                      {{
                        dollarbullStats.TOTAL_ACTIVE_LENDERS
                          ? dollarbullStats.TOTAL_ACTIVE_LENDERS
                          : "-"
                      }}
                    </div>
                    <div
                      class="separator"
                      style="width: 100%; height: 4px"
                    ></div>
                    <div class="sub-title">Total Active Lenders</div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-lg-3 pr-2 pr-lg-3">
                <div class="card">
                  <div class="card-body">
                    <img
                      class="card-img"
                      src="assets/images/pigi.svg"
                      alt="dollerbag"
                    />
                    <div
                      class="separator"
                      style="width: 100%; height: 7px"
                    ></div>
                    <div class="title">
                      {{
                        dollarbullStats.AVERAGE_RETURN_EARNED
                          ? dollarbullStats.AVERAGE_RETURN_EARNED
                          : "-"
                      }}
                    </div>
                    <div
                      class="separator"
                      style="width: 100%; height: 4px"
                    ></div>
                    <div class="sub-title">Avgverage Return Earned</div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-lg-3 pl-2 pl-lg-3">
                <div class="card">
                  <div class="card-body">
                    <img
                      class="card-img"
                      src="assets/images/certified.svg"
                      alt="dollerbag"
                    />
                    <div
                      class="separator"
                      style="width: 100%; height: 7px"
                    ></div>
                    <div class="title">
                      {{
                        dollarbullStats.RBI_CERTIFIED
                          ? dollarbullStats.RBI_CERTIFIED
                          : "-"
                      }}
                    </div>
                    <div
                      class="separator"
                      style="width: 100%; height: 4px"
                    ></div>
                    <div class="sub-title">RBI Certified</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- top global news -->
          <app-top-global-news></app-top-global-news>
        </div>
      </div>
      <div class="col-lg-4 d-none d-lg-block">
        <!-- TODO: Update below component and render as component with param. Update style -->
        <app-categorywatchlist></app-categorywatchlist>
      </div>
    </div>
  </div>
</app-base-layout>
