.account {

    &-header{
        display: flex;
        position: sticky;
        top: 0;
        z-index: 9;
        width: auto;
        height: 6rem;
        padding: 1rem;
        justify-content: center;
        box-shadow: 0px 1px 2px #72727269;

        @include media-breakpoint-up(lg) {
            & {
                display: none;
            }
        }

        &-container{
            display: flex;
            align-items: center;
        }

    &-container {
      display: flex;
      align-items: center;
    }

    &-text {
      @include muli-bold(18px);
    }
  }

  &-container {
    margin-top: 1rem;
  }

  &-card {
    @extend .cardCommon;

    &-icon {
      height: 4rem;
      max-width: 48px;
      max-height: 48px;

    }

    &-r {
      &-div {
        margin-left: 1rem;
      }

      &-icon {
        position: absolute;
        right: 20px;
        top: 38px;
      }
    }

    &-title {
      display: block;
      @include muli-semibold(14px);
    }

    &-subtitle {
      @include muli-semibold(10px);
    }
  }

  &-footer {
    justify-content: space-between;
    align-items: center;
  }
}

.logout {
  float: right;

  &>span {
    color: theme-color("primary");
  }
}

.login-to-start-investing-card{
display: flex;
justify-content: space-between;
align-items: center;
background-color: #3B64BE;
box-shadow: 0px 1px 2px #72727269;
border-radius: 9px;
padding: 24px 18px;
& .title{
  @include muli-semibold(14px);
  color: white;
  text-transform: capitalize;
}
}

.account-card {
  @extend .cardCommon;
  color: theme-color("text-primary");
  cursor: pointer;

  & .card-icon {
    flex: 0 0 4rem;

    &>img {
      max-width: 100%;
      height: auto;
    }
  }

  & .card-title-wrapper {
    flex: 1 1 auto;
    display: inline-flex;
    flex-direction: column;
    padding: 0 1rem;

    & .card-title {
      @include muli-semibold(14px);
      margin-bottom: 0.25rem;
    }

    & .card-desc {
      @include muli-semibold(10px);
    }
  }

  & .card-action {
    flex: 0 0 0.5rem;

    &>img {
      max-width: 100%;
      height: auto;
    }
  }
}

// profile css
// .persional-info-card{
//   background: #FFFFFF 0% 0% no-repeat padding-box;
// box-shadow: 0px 1px 2px #72727269;
// border-radius: 10px;
// padding: 22px 20px 0px 20px;
.profile-wrapper {
  & .card{
    box-shadow: 0px 1px 2px #72727269;
border-radius: 10px;
  }

  & .persional-details,
  & .other-details {
    & .header{
      @include muli-regular(12px);
      margin-bottom: 12px;
    }
    & .card {
      flex-direction: row;

      & span {
        display: block;

        &.heading {
          color: #616161;
          @include muli-regular(12px);
          margin-bottom: 8px;
        }

        &.text {
          @include muli-semibold(15px);
        }
      }
    }
  }

  & .address {
    @include muli-semibold(16px);
    & .header{
      @include muli-regular(12px);
      margin-bottom: 12px;
    }
  }

  & .document {
    @include muli-semibold(14px);
    & .header{
      @include muli-regular(12px);
      margin-bottom: 12px;
    }

    & .card {
      margin-bottom: 14px;

      & span {
        max-width: 24px;
        margin-right: 8px;
      }
    }
  }

  & .connect-us{
    margin-top: 26px;
    @include media-breakpoint-up(lg) {
      margin-top: 60px;
      @include muli-regular(14px);
     }
    & a{
      text-decoration: underline;
      color: blue;
      cursor: pointer;
    
    }
  }
}

// }

.risk-wrapper {
  min-height: 90vh;
}

.risk-profile {
  border-radius: 10px;
  padding: 1rem;

  &>div {
    padding-bottom: 1rem;

    &>span,
    &:not(.risk) {
      @include muli-regular(12px);
    }

    & .risk {
      @include muli-semibold(20px);
      color: theme-color("primary");
    }
  }
}

// order
.order-wrapper {
  & .header {
    @include muli-semibold(18px);
    margin-bottom: 20px;
  }

  & .card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 2px #72727269;
    border-radius: 10px;
    margin-bottom: 16px;
    max-width: 448px;

    & .card-body {
      & .selling-status {
        padding: 3px 8px;
        @include muli-semibold(12px);
        color: #3A63BB;
        background: #e2e8f5 0% 0% no-repeat padding-box;
        border-radius: 2px;
      }

      & .status.completed {
        padding: 3px 19px;
        @include muli-semibold(12px);
        color: #2AC07D;
        background: #dff6ec 0% 0% no-repeat padding-box;
        border-radius: 2px;
      }
      & .status.pending {
        padding: 3px 19px;
        @include muli-semibold(12px);
        color: #EB802F;
        background: #fcece0 0% 0% no-repeat padding-box;
        border-radius: 2px;
      }

      & .card-title {
        @include muli-semibold(18px);
        padding-top: 19px;
        padding-bottom: 16px;
        margin-bottom: 0;
      }

      & .title {
        @include muli-bold(14px);
      }

      & .text {
        @include muli-light(12px);
      }

    }
  }
}
