.news-warpper {
  & .card-headers {
    & .card-title {
      @include muli-semibold(14px);
      margin-bottom: 0;
    }

    & .card-action {
      color: #3A63BB;
      @include muli-regular(12px);
    }
  }

    & .card {
      border-radius: 10px;
      margin-bottom: 10px;

      & img {
        width: 100%
      }

      & .card-body {
        white-space: break-spaces;

        & span {
          display: block;

          &.card-title {
            @include muli-bold(14px);
          }

          &.card-text {
            @include muli-light(12px);
          }

          &.card-date {
            @include muli-semibold(10px);
          }
        }
      }
    }

}
