<div class="input-group">
  <div class="input-group-prepend">
    <div class="input-group-text">
      <img src="assets/icons/search.svg" />
    </div>
  </div>
  <input
    type="text"
    class="form-control"
    [placeholder]="placeholder"
    (blur)="onBlur.emit($event)"
    (keyup)="handleSearchChange($event)"
    [value]="searchInput"
  />
</div>
