<div class="myinvestment">
<div class="heading d-md-none">My Investments</div>
<div class="investment-card card">
  <div class="card-body">
    <div class="count-wrapper">
      
        <div>
          <div class="count text-white">${{ customer_current_value | number: "1.2-2" }}</div>
          <div class="title text-white">Invested</div>
        </div>

        <div>
          <div class="count text-white">${{ customer_invested_value | number: "1.2-2" }}</div>
          <div class="title text-white">Current</div>
        </div>

        <div>
          <div class="count text-white">${{ profit_loss_value | number: "1.2-2" }}
            <!-- ({{profit_loss_per}}) -->
          </div>
          <div class="title text-white">P&L</div>
        </div>
    </div>
    <div class="separator" style="width: 100%; height: 17px"></div>
    <div class="last-update">
      <span>Last updated before 2 Hours</span>
    </div>
  </div>
</div>
</div>