app-kyc{
    .kyc-title{
        background-color: #3A63BB;
    padding: 16px;
    @include muli-bold(16px);
    color: white;
    }

    app-become-dollarbull-card{
        .become-dollarbull{
            margin: 16px 0px;
        }
    }
}