<app-base-layout [enableMobileMenu]="true">
    <div class="portfolio-wrapper">
        <div class="portfolio-title">
            Portfolio
        </div>

        <div class="container">
            <app-market-open-card></app-market-open-card>
            <app-my-investment-card customer_invested_value={{this.customer_invested_value}} customer_current_value={{this.customer_current_value}} profit_loss_value={{this.profit_loss_value}} profit_loss_per={{this.profit_loss_per}}></app-my-investment-card>
            <div class="chart-tab">
              <app-nav-tabs [tabs]="portfolioTabs" (onClick)="handleOnClick($event)"></app-nav-tabs>
                  <div class="tab-content" id="pills-tabContent">
                    <div *ngIf="activePortfolioTab==='Line_Chart'">
                      <div class="charts">
                        <app-line-chart
                          [label]="label"
                          [dataSets]="dataSets"
                          [months]="monthsInPerformanceCharts"
                          (handleMonthPerformance)="(handleMonthPerformance)"
                        >
                        </app-line-chart>
                      </div>
                    </div>
                    <div *ngIf="activePortfolioTab === 'Pie_Chart'">
                      <div class="charts">
                        <app-pie-chart
                          class="card space"
                          [labelProps]="pieChartLabels"
                          [valueProps]="pieChartValues"
                        ></app-pie-chart>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="row my-3">
              <div class="col" style="align-self: center;">
                <div class="heading d-md-none">Invested Stocks</div>
              </div>
              <div class="col text-right">
                <button class="btn sort-btn" (click)="handleMobileSortOpen()"  >Sort</button>
              </div>

            </div>
            <div class="row my-3">
              <div
                class="col-lg-6 px-lg-3 mb-0 mb-lg-4"
                *ngFor="let item of myInvestementData"
              >
                <app-investment-info-card
                  companyId="{{ item.companyId }}"
                  quantity="{{ item.quantity }}"
                  company_name="{{ item.name }}"
                  current_price="{{ item.price }}"
                  buy_price="{{ item.buyPrice }}"
                  redirectUrl="{{item.companyId}}"
                  symbol="{{item.symbol}}"
                >
                </app-investment-info-card>
              </div>
              <div class="text-center w-100 m-2 ">
                <button *ngIf="showLoadMore" type="button" class="btn btn-primary" (click)="get_my_investment()">Load More</button>
              </div>
            </div>
        </div>
    </div>

      <div class="row">
    <div class="col-lg-4 sort-wrapper">
      <div [ngClass]="{'mobile-sort-open': isMobileSortOpen}" (click)="handleMobileSortClose()" class="mobile-sort-backdrop"></div>
      <div [ngClass]="{'mobile-sort-open': isMobileSortOpen}" class="mobile-sort-panel">
        <div class="sort-title container">
          <div class="row align-items-center">
            <div class="col sort-heading">
              Sort
            </div>
            <div class="col-auto sort-title-action">
              <button class="btn btn-link btn-sort-close" (click)="handleMobileSortClose()"><span aria-hidden="true">clear</span></button>
            </div>
          </div>
        </div>
        
        <div class="sort-body">
          <div class="sort-category-wrapper">
            <div class="sort-category">
              <button (click)="handleSortClick('name')"  ><span>A-Z</span> <span>Alphabetical</span></button>
              <button (click)="handleSortClick()"  ><span>%</span> <span>Return</span></button>
              <button (click)="handleSortClick('avg_price')"  ><span>Amt.</span> <span>Amount Invested</span></button>
              <button (click)="handleSortClick('current_price')"  ><span>$</span> <span>Current Dollar Value</span></button>
            </div>
          </div>

        </div>


      </div>

    </div>
    

  </div>
    </app-base-layout>

  