<div class="mobileHeaderDashBoard d-lg-none" *ngIf="mobileHeaderDashBoard">
  <div class="container">
  <div class="row">
    <div class="col">
      <img src="assets/images/logo.png" class="logo">
    </div>
    <div class="col-auto text-right">
      <img src="assets/icons/notification-bell-icon.svg" class="notification-icon">
    </div>
  </div>
</div>
</div>
<div class="desktop-header-wrapper">
  <div class="row">
    <div class="col-auto logo-wrapper">
      <a routerLink="/">
        <img src="assets/images/logo.png" alt="Dollarbull Logo" />
      </a>
    </div>
    <div class="col"></div>
    <div class="col-auto menu-wrapper">
      <app-nav-tabs [tabs]="desktopNavTabs"></app-nav-tabs>
    </div>
  </div>
</div>
<div *ngIf="enableDeskTopHeaderAction" class="container d-lg-block d-none">
<div class="desktop-header-action">
  <a class="header-action" (click)="handleBackClick($event)">
    <img src="assets/icons/icon-arrow.png" alt="" />
  </a>
  <div class="header-title">
    <span>{{ title }}</span>
  </div>
  <ng-container *ngIf="headerActionTemplate">
    <ng-container *ngTemplateOutlet="headerActionTemplate"></ng-container>
  </ng-container>
</div>
</div>

<div *ngIf="enableMobileHeader" class="mobile-header-wrapper">
  <a class="header-action" (click)="handleBackClick($event)">
    <img src="assets/icons/icon-arrow.png" alt="" />
  </a>
  <div class="header-title">
    <span>{{ title }}</span>
  </div>
  <ng-container *ngIf="headerActionTemplate">
    <ng-container *ngTemplateOutlet="headerActionTemplate"></ng-container>
  </ng-container>
</div>

<div class="content-wrapper">
  <ng-content></ng-content>
</div>

<div *ngIf="enableMobileMenu" class="mobile-tabs-wrapper">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <div class="nav-item-icon">
          <img class="default-icon" src="assets/icons/icon-dashboard.png" />
          <img
            class="active-icon"
            src="assets/icons/icon-dashboard-active.png"
          />
        </div>
        <div class="separator" style="width: 100%; height: 4px"></div>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/explore"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
      >
        <div class="nav-item-icon">
          <img class="default-icon" src="assets/icons/icon-explore.png" />
          <img
            class="active-icon"
            src="assets/icons/icon-explore-active.png"
          />
        </div>
        <div class="separator" style="width: 100%; height: 4px"></div>
        <span>Browse</span>
      </a>
    </li>

    <li class="nav-item" *ngIf="!hasInvested">
      <a
        class="nav-link"
        routerLink="/kyc"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
      >
        <div class="nav-item-icon">
          <img class="default-icon" src="assets/icons/kyc-icon.svg" />
          <img
            class="active-icon"
            src="assets/icons/kyc-active-icon.svg"
          />
        </div>
        <div class="separator" style="width: 100%; height: 4px"></div>
        <span>KYC</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="hasInvested">
      <a
        class="nav-link"
        routerLink="/portfolio"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
      >
        <div class="nav-item-icon">
          <img class="default-icon" src="assets/icons/tab-portflio-icon.svg" />
          <img
            class="active-icon"
            src="assets/icons/tab-portfolio-active-icon.svg"
          />
        </div>
        <div class="separator" style="width: 100%; height: 4px"></div>
        <span>Portfolio</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/refer" routerLinkActive="active">
        <div class="nav-item-icon">
          <img class="default-icon" src="assets/icons/icon-account.png" />
          <img
            class="active-icon"
            src="assets/icons/icon-account-active.png"
          />
        </div>
        <div class="separator" style="width: 100%; height: 4px"></div>
        <span>Refer</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/account" routerLinkActive="active">
        <div class="nav-item-icon">
          <img class="default-icon" src="assets/icons/tab-more-icon.svg" />
          <img
            class="active-icon"
            src="assets/icons/tab-more-active-icon.svg"
          />
        </div>
        <div class="separator" style="width: 100%; height: 4px"></div>
        <span>More</span>
      </a>
    </li>
    <!-- <li class="nav-item nav-item-invest">
      <a class="nav-link" routerLink="/" routerLinkActive="active">
        <div class="nav-item-icon">
          <img src="assets/icons/icon-add.png" />
        </div>
      </a>
    </li> -->
  </ul>
</div>




<app-loader *ngIf="loaderEnabled"></app-loader>