<div class="market-open">
    <div class="card">
      <div class="card-body d-flex justify-content-between">
        <div class="title">Market opens in</div>
        <div class="text">09:15 Hours</div>
      </div>
    </div>
  </div>
