<app-base-layout [enableMobileHeader]="true" title="terms-condition">
    <br>
    <div class="container">
    <div class="card">
        <div class="card-body">
            <p>gpd</p>
        </div>
    </div>
</div>
    </app-base-layout>