<div class="card" (click)="handleClick()">
    <div class="card-body">
      <div class="row">
        <div class="col-3">
          <div class="card-title"><img src="{{logo}}" class="logo">{{name}}</div>
          <div class="heading">{{sector}} | {{marketCap}}</div>
        </div>
        <div class="col">
          <div class="text">{{symbol}}</div>
          <div class="heading">Symbol</div>
        </div>
        <div class="col">
          <div class="text">{{price}}</div>
          <div class="heading">Price</div>
        </div>
        <div class="col-3">
          <div class="text positive"><img [src]="is_positive == true  ? 'assets/icons/triangle.svg' : 
            'assets/icons/triangle_down.svg'" class="daly-change-img" ><span [ngStyle]="{'color' : is_positive == true ? '#2ac07d' :  'red'}">{{dailyChange}} %</span></div>
          <div class="heading">Daily Change</div>
        </div>
        <div class="col">
          <div class="text">{{marketCap}}</div>
          <div class="heading">Market Cap</div>
        </div>
        <!-- <div class="col">
          <div class="text">{{ratio}}</div>
          <div class="heading">P/E Ratio</div>
        </div> -->
      </div>
    </div>
  </div>