<app-base-layout>
  <app-market-open-card class="d-none d-md-block mb-3" style="box-shadow: none;"></app-market-open-card>
  <div class="watchlist-header-wrapper">
    <a class="header-action" >
      <img src="assets/icons/icon-arrow.png" alt="" (click)="handleBackClick($event)"/>
    </a>
    <div class="header-title">
      <span>WatchList</span>
    </div>
    <button class="header-action btn" style="flex: 0 0 6rem"  (click)="watchlistAddModalOpen(watchlistAddModal)">
      <img src="assets/icons/plus.svg" style="max-width: 24px"  alt="" />
      <span>New</span>
    </button>
  </div>
  <div
  class="separator"
  style="width: 100%; height: 16px"
></div>
    <div class="row tabs-wrapper">
      <div class="col-12 pl-0 pr-0">
        <app-nav-tabs [tabs]="categoryTabs" (onClick)="handleOnClick($event)"></app-nav-tabs>
      </div>
    </div>
    <div class="container-lg">
      <br />
      <div class="watch-list-empty-wrapper card" *ngIf="!myWatchListLoading && myWatchListEmpty">
        <div class="watch-list-empty card-body p-3">

          <ng-container *ngIf="categoryTabs.length == 0">
            <p class="body-2 mb-0">Look like you have not created watchlist yet. </p>
          </ng-container>

          <ng-container *ngIf="categoryTabs.length != 0">
            <div class="title">Your Watchlist is empty</div>
            <div class="separator" style="width: 100%; height: 8px"></div>
            <div class="text body-2">
              Add stocks to watchlist and start tracking their prices
            </div>
          </ng-container>


          <!-- <div class="title">Your Watchlist is empty</div>
          <div class="separator" style="width: 100%; height: 12px"></div>
          <div class="text">
            Add stocks to watchlist and start tracking their prices
          </div> -->
          <div class="separator" style="width: 100%; height: 16px"></div>
        </div>
        <!-- <div class="btn btn-primary" (click)="addStockWatchList()">
          ADD STOCK
        </div> -->
      </div>
    <app-loader *ngIf="myWatchListLoading"></app-loader>
    <div *ngIf="!myWatchListLoading">
      <!-- <app-info-card *ngFor="let company of watchlistCompany" [img]="company.img" [stats]="company.stats" [company]="company.company"  [name]="company.name" [symbol]="company.symbol" [price]="company.price" [companyId]="company.companyId"  class="mb-2" ></app-info-card> -->
    </div>
   

    
      <app-info-card *ngFor="let company of watchlistCompany" [img]="company.img" [stats]="company.stats" [company]="company.company"  [name]="company.name" [symbol]="company.symbol" [price]="company.price" [companyId]="company.companyId" [previous_price]="company.previous_price"  class="mb-2" (touchstart)="longPress(true)" (touchend)="longPress(false)"></app-info-card>
    </div>   
    <div class="watchlist-filter-btn">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn" (click)="sort_list('alphabet_sort')">Alphabetical <img *ngIf="show_name_arrow" [src]="alphabet_sort_icon" class="ml-2"></button>
            <button type="button" class="btn d-flex" (click)="sort_list('percentage_change')">%Change <img *ngIf="show_percentage_arrow" [src]="percentage_change_sort_icon" class="ml-2"></button>
          </div>
    </div>
    <div class="bottom-fixed-btn">
      <div class="row">
        <div class="col pl-0 pr-0">
          <button class="btn watchlist-edit-stocks-btn" [disabled]="this.categoryTabs.length < 1" (click)="watchlistAddModalOpen(watchlistAddModal,true)">
           <img src="assets/icons/icon-pen.png" style="max-width: 24px" alt="" /> Edit
          </button>
        </div>
        <div class="col pl-0 pr-0">
          <button class="btn watchlist-delete-stocks-btn" [disabled]="this.categoryTabs.length < 1" (click)="deleteWatchlistOpen(deleteWatchlist)">
           <img src="assets/icons/icon-dustbin.png" style="max-width: 24px" alt="" /> Delete
          </button>
        </div>
        <div class="col pl-0 pr-0">
          <button class="btn watchlist-add-stocks-btn" (click)="navigateToAllStocks()">
           <img src="assets/icons/plus.svg" style="max-width: 24px" alt="" /> Add stocks
          </button>
        </div>
      </div>
    </div>


  <!-- delete stocks watchlist modal -->
  <ng-template #deleteWatchlist let-c="close" let-d="dismiss">
    <div class="deleteWathlistModal">
    <div class="modal-body">
      <span>Your are about to delete this watchlist please tap on confirm to delete.</span>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-link" (click)="c('Cancel click')">Cancel</button>
      <button type="button" class="btn btn-link" (click)="handleDeleteWatchlist()">Confirm</button>
    </div>
  </div>
  </ng-template>
  <!-- new watchlist add modal -->
  <ng-template #watchlistAddModal let-c="close" let-d="dismiss">
    <form [formGroup]="watchlistAddForm" (ngSubmit)="onWatchlistAddFormSubmit()">
    <div class="watchlistAddModal">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ isEdit?"Edit":"Give"}} your watchlist a name</h4>
    </div>
    <div class="modal-body">
     <div class="row need-help" style="min-height:100%">
      <div class="col-12 col-lg-12">
        <input #desc type="text" formControlName="watchlistName"  placeholder="Watchlist name" class="inp text-uppercase">
        <div class="error-msg" >
          <i *ngIf="!(watchlistAddForm.controls['watchlistName'].errors?.maxlength?.actualLength < 15)">
            Text must be less than or equal to 15 characters.
          </i>
          <i *ngIf="(watchlistAddForm.controls['watchlistName'].errors?.required)  && 
                    (watchlistAddForm.controls['watchlistName'].touched)">
            Watchlist name cannot be empty
          </i>
        </div>
      </div>
     </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-link" [disabled]="this.watchlistAddForm.valid? null : true" >Confirm</button>
    </div>
  </div>
</form>
  </ng-template>
  
</app-base-layout>
