<app-base-layout [enableMobileHeader]="true" title="A2 Process">
    <div class="container">
      <form>
        <div class="form-group">
          <label class="heading" for="banksList">Select bank you want to transfer from</label>
          <select class="form-control input"  id="banksList" (change)="bankListChange($event.target)">
            <option *ngFor="let banks of bankList" [value]="banks.id" >{{banks.bank}}</option>
          </select>
        </div>
      <div class="sub-heading">You must fund your account from a bank account you own. You may not transfer funds from third party</div>
      </form>
    
      <section *ngIf="pdfPath != ''">
        <div class="guidelines">
          <div class="heading">
            Download this A2 FORM, get it printed, fill it and keep it ready before pickup
          </div>
          <div class="mobile-btn-common card"><button (click)="downloadPDF()" class="btn"><img class="mr-2" src="assets/icons/btn-download.svg">Download Form A2</button></div>
        </div>
    
      </section>
    </div>
      </app-base-layout>