<app-base-layout [enableMobileMenu]="true">
  <div class="card account-header">
    <div class="row">
      <div class="container account-header-container">
        <div class="col-2">
          <div class="avatar-outer-div">
            <span class="account-header-text avatar-inner-text">{{ userData.name | slice: 0:1 }}</span>
          </div>
        </div>
        <div class="col-10">
          <span class="account-header-text">{{userData.name}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="container account-container">
    <div class="row">
      <!-- login to start invest -->
      <ng-container *ngIf="isGuestUser">
      <div class="col-12 col-lg-4 d-lg-none">
        <div class="login-to-start-investing-card">
          <div class="title">Login to start investing</div>
          <div><button type="button" class="btn btn-light" (click)="handleLogin()">Login</button></div>
        </div>
      </div>
      <div
      class="separator"
      style="width: 100%; height: 10px"
    ></div>
    </ng-container>
     
      
      <!-- end login to start invest -->
      <ng-container *ngFor="let cardsData of displayAccountCards">
        <app-account-card
          class="col-12 col-lg-4"
          [title]="cardsData.title"
          [info]="cardsData.info"
          [iconPath]="cardsData.iconPath"
          [navigateTo]="cardsData.navigateTo"
        >
        </app-account-card>
      </ng-container>
    </div>
    <div *ngIf="isAuthenticated" class="row container account-footer">
      <div>
        <span>Signed in as {{ userData.name }}</span>
      </div>
      <div class="logout">
        <button *ngIf="!isGuestUser" class="btn btn-link btn-sm" (click)="handleLogout()">
          Logout
        </button>
      </div>
    </div>
  </div>
</app-base-layout>
