<div class="container">
  <section>
    <div class="row">
      <div class="heading">
        <h6>Top Gainers</h6>
        <h6><small>View all</small></h6>
      </div>
      <div class="scroll_card">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <img src="assets/icons/amazon-65-675861.webp">
              <h6>Amazon com Inc.</h6>
            </div>
            <br>
            <p style="color: #2AC07D;"><img src="assets/icons/triangle.svg" width="10%">+2.18%</p>
            <p>$3,294.62</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="card-title">
                <img src="assets/icons/amazon-65-675861.webp">
                <h6>Apple,Inc</h6>
              </div>
            <br>
            <p style="color: #2AC07D;"><img src="assets/icons/triangle.svg" width="10%">+2.18%</p>
            <p>$3,294.62</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Amazon com Inc.</h6>
            <br>
            <p style="color: #2AC07D;"><img src="assets/icons/triangle.svg" width="10%">+2.18%</p>
            <p style="font-weight: 600;">$3,294.62</p>
          </div>
        </div>
      </div>
      <div class="full_card" id="full_card">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <h6>S&P 500 ETF Trust SPDR</h6>
              <h6>$3427.0</h6>
            </div>
            <div class="card-title">
              <p>SPY</p>
              <p style="color:#2AC07D;"><img src="assets/icons/triangle.svg"
                  style="width: 15px;margin-right: 10px;">00.31% ($ 5.92)</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <h6>S&P 500 ETF Trust SPDR</h6>
              <h6>$3427.0</h6>
            </div>
            <div class="card-title">
              <p>SPY</p>
              <p style="color:#2AC07D;"><img src="assets/icons/triangle.svg"
                  style="width: 15px;margin-right: 10px;">00.31% ($ 5.92)</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <h6>S&P 500 ETF Trust SPDR</h6>
              <h6>$3427.0</h6>
            </div>
            <div class="card-title">
              <p>SPY</p>
              <p style="color:#2AC07D;"><img src="assets/icons/triangle.svg"
                  style="width: 15px;margin-right: 10px;">00.31% ($ 5.92)</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="heading">
        <h6>Top ETF providers</h6>
        <!-- <h6><small>View all</small></h6> -->
      </div>
      <div class="full_card">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <h6>S&P 500 ETF Trust SPDR</h6>
              <h6>$3427.0</h6>
            </div>
            <div class="card-title">
              <p>SPY</p>
              <p style="color:#2AC07D;"><img src="assets/icons/triangle.svg"
                  style="width: 15px;margin-right: 10px;">00.31% ($ 5.92)</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <h6>S&P 500 ETF Trust SPDR</h6>
              <h6>$3427.0</h6>
            </div>
            <div class="card-title">
              <p>SPY</p>
              <p style="color:#2AC07D;"><img src="assets/icons/triangle.svg"
                  style="width: 15px;margin-right: 10px;">00.31% ($ 5.92)</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <h3>Show all stocks</h3>
        </div>
      </div>
    </div>
  </section>
</div>
