<app-base-layout  title="Transaction History" [enableMobileHeader]="true">
  <div class="container">
    <ng-container *ngFor="let history of this.transactionHistory">
      <div class="card m-2">
        <div class="card-body">
          
            <div class="row mb-3">
                <div class="col">
                    <div class="value">{{history.createdAt  | date:'dd-MMM-yyyy'}}</div>
                    <div class="text">Date</div>
                </div>
                
              <div class="col text-right">
                <span *ngIf="history.status == 0" class="status pending">pending</span>
                <span *ngIf="history.status == 1" class="status completed">completed</span>
                <span *ngIf="history.status == 3" class="status rejected">rejected</span>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="value">{{history.price}}</div>
                <div class="text">Amount</div>
            </div>
              <div class="col">
                <div class="value">{{history.quantity}}</div>
                <div class="text">Units</div>
            </div>
            <div class="col">
              <div class="value">{{history.trade_action}}</div>
              <div class="text">Trade</div>
          </div>
          </div>
        </div>
    </div>
    </ng-container>
    <div class="mobile-btn-common card" *ngIf="!loading && showLoadBtn">
      <button class="btn" (click)="loadMore()">load more</button>
    </div>
    <div *ngIf="loading" class="text-center">loading...</div>
  </div>
</app-base-layout>