<app-base-layout [enableMobileHeader]="true" title="Orders">
  <div class="container d-none d-lg-block">
    <div class="order-wrapper">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="header">
            <span>Executed</span>
          </div>
          <div class="card" *ngFor ="let data of orderListData">
            <div class="card-body">
              <div class="row">
                <div class="col-2 col-lg-2 pr-0">
                  <span class="selling-status">Buy</span>
                </div>
                <div class="col-3 col-lg-3 pl-lg-0">Qty : {{data.quantity}}</div>
                <div class="col text-right">
                  <span class="status completed">completed</span>
                </div>
              </div>
              <div class="card-title">{{data.name}}</div>
              <div class="row">
                <div class="col-4">
                  <div class="title">${{data.buyPrice}}</div>
                  <div class="text">Buy Price</div>
                </div>
                <div class="col-4">
                  <div class="title">${{data.price}}</div>
                  <div class="text">Current Price</div>
                </div>
                <!-- <div class="col-4">
                  <div class="title">$200 (+2%)</div>
                  <div class="text">Profit</div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="header">
            <span>Pending</span>
          </div>
          <!-- <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-2 col-lg-2 pr-0">
                  <span class="selling-status">Buy</span>
                </div>
                <div class="col-3 col-lg-3 pl-lg-0">Qty : 20</div>
                <div class="col text-right">
                  <span class="status pending">pending</span>
                </div>
              </div>
              <div class="card-title">APPLE INC</div>
              <div class="row">
                <div class="col-4">
                  <div class="title">$2635</div>
                  <div class="text">Buy Price</div>
                </div>
                <div class="col-4">
                  <div class="title">$2635</div>
                  <div class="text">Current Price</div>
                </div>
                <div class="col-4">
                  <div class="title">$200 (+2%)</div>
                  <div class="text">Profit</div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-2 col-lg-2 pr-0">
                  <span class="selling-status">Buy</span>
                </div>
                <div class="col-3 col-lg-3 pl-lg-0">Qty : 20</div>
                <div class="col text-right">
                  <span class="status pending">pending</span>
                </div>
              </div>
              <div class="card-title">APPLE INC</div>
              <div class="row">
                <div class="col-4">
                  <div class="title">$2635</div>
                  <div class="text">Buy Price</div>
                </div>
                <div class="col-4">
                  <div class="title">$2635</div>
                  <div class="text">Current Price</div>
                </div>
                <div class="col-4">
                  <div class="title">$200 (+2%)</div>
                  <div class="text">Profit</div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <!-- mobile -->
    </div>
  </div>
  <div class="d-block d-lg-none">
    <app-nav-tabs [tabs]="orderTabs"  (onClick)="handleOnClick($event)"></app-nav-tabs>
    <div class="container-fluid order-wrapper">
      <div class="row">
        <div class="col-12 mt-3" *ngIf="activeFinancialTab==='Executed'">
          <div class="card" routerLink="{{'/explore/stocks/'+data.companyId}}" *ngFor ="let data of orderListData">
            <div class="card-body">
              <div class="row">
                <div class="col-2 col-lg-2 pr-0">
                  <span class="selling-status">Buy</span>
                </div>
                <div class="col-3 col-lg-3 pl-lg-0">Qty : {{data.quantity}}</div>
                <div class="col text-right">
                  <span class="status completed">completed</span>
                </div>
              </div>
              <div class="card-title">{{data.name}}</div>
              <div class="row">
                <div class="col-4">
                  <div class="title">${{data.buyPrice}}</div>
                  <div class="text">Buy Price</div>
                </div>
                <div class="col-4">
                  <div class="title">${{data.price}}</div>
                  <div class="text">Current Price</div>
                </div>
                <!-- <div class="col-4">
                  <div class="title">$200 (+2%)</div>
                  <div class="text">Profit</div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 mt-3" *ngIf="activeFinancialTab==='Pending'">
          <div class="card" routerLink="{{'/explore/stocks/'+data.companyId}}" *ngFor ="let data of pendingOrderListData">
            <div class="card-body">
              <div class="row">
                <div class="col-2 col-lg-2 pr-0">
                  <span class="selling-status">Buy</span>
                </div>
                <div class="col col-lg-3 pl-lg-0">Qty : {{data.quantity}}</div>
                <div class="col">
                  <div class="title">${{data.price * data.quantity | number: "1.2-2"}}</div>
                  <div class="text">Est Price</div>
                </div>
                <div class="col text-right">
                  <span class="status pending">pending</span>
                </div>
              </div>
              <div class="card-title">{{data.name}}</div>
              <div class="row">
                <div class="col-4">
                  <div class="title">${{data.buyPrice}}</div>
                  <div class="text">Buy Price</div>
                </div>
                <div class="col-4">
                  <div class="title">${{data.price}}</div>
                  <div class="text">Current Price</div>
                </div>
                <div class="col-4">
                  <button class="btn custombtn btn-danger" (click)="cancelOrder($event, data.orderId)">Cancel</button>

                </div>
                <!-- <div class="col-4">
                  <div class="title">$200 (+2%)</div>
                  <div class="text">Profit</div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- mobile -->
    </div>
  </div>
    <div class="mobile-btn-common card" *ngIf="!loading && showLoadBtn">
      <button class="btn" (click)="loadMore()">load more</button>
    </div>
    <div *ngIf="loading" class="text-center">loading...</div>
</app-base-layout>
